:root {
  --primary-color: #ffffff;
  --primary-bgColor: #121212;
  --secondary-color: #FF6101;
  --secondary-text-color: #000000;
  --third-color: #ff7b29;
  --secondary-bgcolor: #181818;
  --third-bgcolor:#282828;
  --secondary-textcolor:#b3b3b3;
}

.App {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: var(--primary-bgColor);
  color: var(--primary-color);
  min-height: 100vh;
  min-width: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--primary-color);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}
.footer{
  background-color:var(--secondary-bgcolor);
}

.line {
  border: 2px solid rgb(70, 70, 70);
  width: 10%;
  border-radius: 25px;
}

.brandName {
  font-size: calc(10px + 2.4vmin) !important;
  color: var(--primary-color) !important;
}

.box_header {
  font-weight: 800;
}

.skill_item {
  /* background-color: lightblue;
  padding: 1.5%;
  border-radius: 15%;
  font-weight: 700;
  margin: 1%; */
  border: 0.1px solid #c1c1c1;
  cursor: pointer;
  background-color: var(--third-bgcolor);
}

.skill_item:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(171, 171, 171, 0.12), 0 4px 8px rgba(224, 224, 224, 0.06);
  background-color: var(--third-color);
}

.skill_box {
  width: 100%;
  display: flex;
  flex-flow: wrap;
}

.homeBody,
.homeBody .row {
  height: 100%;
}

.inline-block {
  display: inline-block;
}

.col {
  height: auto !important;
}

.homePage {
  height: 100vh;
  width: 100%;
}

.sortDesc {
  font-size: calc(10px + 1.3vmin);
  color: var(--secondary-textcolor);
}

.mediaLink_box i {
  font-size: 2rem;
  padding: 1%;
  color: black;
}

.footerIcon {
  color: white;
  font-size: 2rem;
  padding: 1%;
}

.mbottom {
  margin-bottom: 9% !important;
}

.customButton {
  padding: 5px 25px;
  background-color: var(--secondary-color);
  display: inline-flex;
  color: var(--secondary-text-color);
  border-radius: 25px;
  font-size: calc(10px + 1vmin);
  font-weight: 700;
}

.textAreaHeight {
  height: 300px;
}

.projectTitle p {
  display: block;
  font-size: 3rem;
  font-weight: 900;
}

.img_box {
  width: 100%;
  height: 65vh;
  background-color: grey;
}

.img_preview {
  width: 95%;
}

.heading {
  font-size: 36px;
  font-weight: 700;
}

.img_box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.img-scroller {
  width: 70%;
  height: 10vh;
  background-color: green;
}

.img_collection {
  width: 60%;
  background-color: grey;
}

.slider_img_box {
  border: 2px solid black;
}

.slider_img_box {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
}

.proj_header p {
  font-size: 2.2rem;
  font-weight: 600;
  display: block;
}

.proj_text {
  text-align: justify;
  font-size: 1rem;
}

.footer_link {
  color: white;
  text-decoration: none;
}

.loader {
  width: 5rem !important;
  height: 5rem !important;
}

.slick-track {
  padding: 1% 0%;
}

.slick-slide div {
  height: 100% !important;
}

.slick-slider .slick-track {
  display: flex !important;
  flex-wrap: wrap !important;
}

.slick-slide {
  height: auto !important;
  padding: 0.4rem;
}

.navbar {
  background-color: var(--primary-bgColor);
}

.navbar-nav {
  width: -webkit-fill-available;
}

.nav-link {
  color: var(--primary-color) !important;
}

.secondaryColor {
  color: var(--secondary-color) !important;
}

.nav-item {
  padding: 0% 4.5%;
  font-size: calc(10px + 1.2vmin);
  font-weight: 400;
}

.nav-item:hover {
  color: var(--third-color);
}

.contactButton {
  padding: 0% 2% 0% 4%;
}
.btn{
  background-color: var(--secondary-textcolor) !important;
}
.btn:hover{
  background-color:var(--third-color) !important;
  color: var(--primary-color);
}
.card {
  border-radius: 4px;
  background: var(--third-bgcolor) !important;
  color: var(--primary-color) !important;
  box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
  transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}
.card-title{
  font-size: calc(10px + 1.5vmin);
}
.card-text{
  text-align: justify;
  color:var(--secondary-textcolor);
  font-size: calc(10px + 1vmin);

}
.secondary_text_color{
  color: var(--secondary-textcolor);
}
@keyframes jump-shaking {
  0% {
    transform: translateX(0)
  }

  25% {
    transform: translateY(-9px)
  }

  35% {
    transform: translateY(-9px) rotate(17deg)
  }

  55% {
    transform: translateY(-9px) rotate(-17deg)
  }

  65% {
    transform: translateY(-9px) rotate(17deg)
  }

  75% {
    transform: translateY(-9px) rotate(-17deg)
  }

  100% {
    transform: translateY(0) rotate(0)
  }
}

.rise-shake {
  animation: jump-shaking 2.5s infinite;
}

@keyframes skew-y-shake {
  0% {
    transform: skewY(-15deg);
  }

  5% {
    transform: skewY(15deg);
  }

  10% {
    transform: skewY(-15deg);
  }

  15% {
    transform: skewY(15deg);
  }

  20% {
    transform: skewY(0deg);
  }

  100% {
    transform: skewY(0deg);
  }
}

.skew-shake-y {
  animation: skew-y-shake 2.5s infinite;
}

.phoneView {
  display: none;
}
.about_box{
  font-size: calc(10px + 1.3vmin);
}
.about_desc{
  color:var(--secondary-textcolor);
  
}
@media only screen and (max-width: 768px) {

  .about_box h3 {
    text-align: center;
    margin-bottom: 5% !important;
  }

  .homeBody .row {
    height: auto !important;
    margin-top: 7%;
    margin-bottom: 15%;
  }
  
  .homeBody {
    height: auto !important;
  }

  .homeBody .col-md-12 {
    margin-top: 20%;
  }

  .homePage {
    height: auto !important;
    padding: 2%;
  }

  .desktopView {
    display: none;
  }
}